$color1:#c0e6de;
$color2:#21897e;
$color3:#B598EF;
$color4:#3d348b;
$color5:#624763;
$color6:white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin sizes ($height, $width, $bcolor){ 
    height: $height;
    width: $width;
    background-color: $bcolor;
}
/*index*/
header{
    width: 100%;
}
/* Index logo y nav*/
.fondologo{
    @include sizes(150px,100%,$color1);
}
.logo{
    @include sizes(100%,100%,none);
    background-image: url(../Fotos/Logo.png);
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}
.barra{
    background-color: $color1;
    line-height: 25px;
    text-align: center;
    ul{
        li{
            list-style: none;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 80px;
            padding-right: 80px;
        }
    }
    a{
        text-decoration: none;
        color: $color2;
        font-size: 15px;
        background-image:linear-gradient(
            transparent 0%,
            transparent 90%,
            $color3 90%,
            $color3 100%
        );
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 300ms; 
        &:hover{
            color: $color3;
            background-size: 100% 100%;
            background-position-x: left;
        }
    }
}
/*Index contenido*/
/*Casurel index*/
.mainfotos{
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 16/9;
}
.carousel-inner{
    #portadas{
        @include sizes(100%,100%,none);
        border: 20px solid $color2;
    }
}
/*Miniaturas menu index*/
#menufotos{
    justify-content: center;
    width: 620px;
    margin: auto;
}
.img{
    @include sizes(250px,250px,none);
    border: 2px solid $color5;
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 25px;
    &:hover{
        transform: scale(1.15);
        transition: 1s;
    }
}
.img-1{
    background-image: url(../Fotos/Logo.png);
    background-size: cover;
    background-position: center;
    
}
.img-2{
    background-image: url(../Fotos/MinRopa.jpg);
    background-size: cover;
    background-position: center;
}
.img-3{
    background-image: url(../Fotos/MinAccesorios.jpg);
    background-size: cover;
    background-position: center;
}
.img-4{
    background-image: url(../Fotos/MinTienda.jpg);
    background-size: cover;
    background-position: center;
}
#menufotos{
    list-style:none;
    margin-top: 50px;
    margin-bottom: -30px;
}
#menufotos{
    #imagenes{
        figcaption{
            @include sizes(100%,100%,rgba(0,0,0,0.4));
            display: none;
            position:absolute;
            text-align: center;
            padding: 50px;
            font: 25px/50px verdana bold;
            color: $color1;
        }
        &:hover{
            figcaption{
                display: block;
            }
        }
    }
}
/*Conocenos*/
/*Texto conocenos*/
#cajaconocenos{
    @include sizes(550px,1200px,none);
    margin: auto;
    text-align: center;
    h3{
        font: 30px verdana bold;
        color:$color4;
    }
    p{
        font: 25px/37px verdana;
        color:$color4;
    }
}
#textomiembros {
    h3{
        text-align: center;
        font: 30px verdana bold;
        color:$color4;
        padding-bottom: 30px;
    }
}
/*Caja de trabajadores*/
.cajapersonas{
    @include sizes(400px,800px,none);
    border: 1px solid $color4;
    border-radius: 82px;
    background: #e0e0e0;
    box-shadow:  19px 19px 38px #929292,
                -19px -19px 38px #ffffff;
}
.pers{
    margin: auto;
    background-size: cover;
    background-position: center;
}
#personas1{
    @extend .pers;
    background-image:url(../Fotos/Pers1.jpg);
}
#personas2{
    @extend .pers;
    background-image:url(../Fotos/Pers2.jpg);
}#personas3{
    @extend .pers;
    background-image:url(../Fotos/Pers3.jpg);
}#personas4{
    @extend .pers;
    background-image:url(../Fotos/Pers4.jpg);
}
.cajapersonas {
    p{
        font-size: 50px;
        padding-top: 320px;
        color: $color1;
        text-align: center;
    }
}
.redes{
    margin-top: 100px;
    margin-left: 50px;
}
$redes:(
    twitter: #51aff8,
    facebook: #2956a3,
	instagram: #fa4e02,
	youtube: #ce1312,
);
@each $red, $color in $redes {
    .red-#{$red} {
        background: $color;
        width: 24%;
        height: 100px;
        line-height: 100px;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $color6;
        text-align: center;
        display: inline-block;
        border-radius: 30px;
        .link{
            text-decoration: none;
            color: $color6;
        }
        &:hover {
            background-color: $color3;
            background-size: cover;
            background-position: center;
            text-shadow: 0px 0px 5px $color6;
            color: $color;
        }
    }
}

/*Paginas ropas y accesorios*/
main {
    h1{
        text-align: center;
        padding: 20px;
        font: 50px verdana bold;
        color: $color4;
    }
}
.card-img-top{
    padding-top:10px; 
    min-height:500px; 
    max-height: 520px
}
.btn-success{
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.icono{
    @include sizes(1em,1em, #00a81c);
    display: grid;
    justify-content: center;
    color: rgb(207, 207, 207);
    font-size: 2.5em;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 12px 12px 24px #36e980, -12px -12px 24px #73e969;
}
.corazon{
    &:hover{
        color: rgb(183, 0, 255);
        cursor: pointer;
    }
    &:active{
        transform: scale(1.15);
        transition: box-shadow .3s, transform 6s cubic-bezier(.5,4,1,2);
        box-shadow: inset -2px -2px 8px rgb(72, 255, 0),
        inset -2px -2px 12px rgba(39, 194, 0, 0.5),
        inset 2px 2px 4px rgba(27, 114, 1, 0.1),
        inset 2px 2px 8px rgba(0,0,0, 0.15);
    }
}
/*Pagina Ubicanos*/
.Ubicanos{
    h2{
        text-align: center;
    }
}
.tienda{
    h4{
        padding-left: 50px;
        padding: 50px;
        font-size: 25px;
        margin-right: 400px;
    }
    p{
        font-size: 15px;
    }
}
.mapa{
    margin-left:100px;
    border: 3px solid $color4;
    width:800px;
    #tamañomapa{
        width:100%;
        height: 100%;
    }
}
/*Fotter*/
.fondofotter{
    height: 550px;
    background-color: $color5;
}
.formulario{
    @include sizes(200px,600px,none);
    margin-left: 20px;
    display: inline-block;
    margin-top:-50px;
    padding: 50px;
    color: $color1;
}
.form{
    margin-top: 35px;
}
.input-group{

    position: relative;
}
label{
    
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px,10px);
    transform-origin: left;
    transition: transform .25s;
}
#name{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}
.input-group{
    &:focus-within{
        label{
            transform: translate(0, -30px) scale(0.8);
            color: #d1c5fc;
        }
        #name{
            outline-color: #d1c5fc;
        }
    }
}
#boton{
    margin-top: 10px;
    float: right;
}
.linksfotter{
    @include sizes(400px,400px,none);
    margin-right: 20px;
    float: right;
    margin-top:-50px;
    padding: 50px;
    color: $color1;
}
.linksfotter{
    a{
        text-decoration: none;
        color: $color1;
        font-size: 15px;
    }
}
.logopagos{
    background-color: $color5;
    display: flex;
    #pagos{
        @include sizes(40px,80px,none);
        margin-left: 50px;
    }
}
#cajapagos{
    justify-content: center;
}
#container {
    div{
        display: flex;
        margin-top: 250px;
        div{
            @include sizes(40px,80px,none);
            margin-left: 20px;
            #pagos{
                @include sizes(40px,80px,none)
            }
        }
    }
}
#center {
    justify-content: center;
}
.derechos {
    #centrado{
        p{
            margin-top: 20px;
            text-align: center;
            text-decoration: none;
            color: $color1;
            font-size: 15px;  
        }
    }
}

@import "_responsive"